.pagination {
  display: flex;
  list-style-type: none;
}

/* Here starts Navbar's rules */
.navbar {
  margin-bottom: 8rem;
}
#navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

#nav-login {
  padding: 1.5rem;
  border: none;
  background: none;
  color: #ffffff;
}

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

#login-dp .help-block {
  font-size: 12px;
}

#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

/* Here starts Register form rules */

.signup-form{
  display:flex;
  justify-content: center;
}

@media (max-width: 768px) {
  #nav-login {
    padding: 0;
  }
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}


